[submodule "datamodels"]
	path = datamodels
	url = https://github.com/tug-cps/datamodels
[submodule "feature_engineering/featureengineering"]
	path = feature_engineering/featureengineering
	url = https://github.com/tug-cps/featureengineering
[submodule "Data"]
	path = Data
	url = https://github.com/tug-cps/hybridcosim-data
