[submodule "datamodels"]
	path = datamodels
	url = https://github.com/tug-cps/datamodels-expansion
[submodule "Training/TrainingUtilities/parameters/storage"]
	path = Training/TrainingUtilities/parameters/storage
	url = https://github.com/tug-cps/storage
