pandas
numpy
matplotlib
seaborn
requests~=2.25.1
holidays~=0.11.1
future
setuptools~=57.1.0
scipy
sklearn
scikit-learn
pytest
tensorflow
xlrd
tables~=3.6.1
pydotplus
gplearn
openpyxl
mlxtend
tikzplotlib
statsmodels
rulefit
keras~=2.7.0
ennemi
minepy
regscorepy
imblearn